*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --clr-primary-700: hsl(179, 100%, 13%);
    --clr-primary-500: hsl(184, 100%, 22%);
    --clr-primary-200: hsl(31, 77%, 52%);

    --clr-neutral-200: hsl(0, 0%, 95%);
    --clr-neutral-300: hsla(0, 0%, 100%, 0.75);
    
    --ff-body: 'Lexend Deca', sans-serif;
    --ff-headings: 'Big Shoulders Display', cursive;
}

body{
    background-color: var(--clr-neutral-200);
    min-height: 100vh;
    font-family: var(--ff-body);
    display: grid;
    place-content: center;
    margin: 1.2em;
}

.card-container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}
.card-container__card{
    padding: 2em 4em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.card-container__card img{
    width: 5em;
}
.card-container__card:nth-child(1){
    background-color: var(--clr-primary-200);
}

.card-container__card:nth-child(2){
    background-color: var(--clr-primary-500);
}
.card-container__card:nth-child(3){
    background-color: var(--clr-primary-700);
}

p{
    font-size: 15px;
    color: var(--clr-neutral-300);
    padding: 1em 0em;
}

h3{
    font-family: var(--ff-headings);
    color: var(--clr-neutral-200);
    font-size: 2.7em;
    text-transform: uppercase;
}

.card-container__card button{
    background-color: var(--clr-neutral-200);
    border-radius: 45px;
    mix-blend-mode: screen;
    padding: 0.9em;
    width: 9em;
    border: 1px solid transparent;
    margin: 3em 0 2em 0;
    cursor: pointer;
}

.card-container__card button:hover{
    background-color: transparent;
    border: 1px solid var(--clr-neutral-200);
    color: var(--clr-neutral-200);
    /* margin-bottom: 0; */
}

@media screen and (min-width: 720px){
    .card-container{
        flex-direction: row;
        font-size: 0.8em;
        min-width: 720px;
        max-width: 60em;
        /* max-height: 33em; */

    }
    .card-container__card{
        padding: 2em 2.5em;
        display: grid;
        align-items: flex-start;
    }
    button{
        align-self: flex-end;
    }

}