@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
*{
    box-sizing: border-box;
}

:root{
    --clr-neutral-100: hsl(0, 0%, 98%);
    --clr-neutral-400: hsl(0, 0%, 41%);
    --clr-neutral-700: hsl(0, 0%, 8%);
}

body{
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    background-color: var(--clr-neutral-100);
}

main{
    margin: auto;
    min-height: 100vh;
    text-align: center;
}

h1{
    font-weight: 700;
    margin: 1em 0;
}

p{
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 3em;
    line-height: 1.6rem;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}
.hero-content-container{
    padding: 1em;
}
#hero-img-mobile{
    margin: auto;
}
.hero-content__content{
    color: var(--clr-neutral-400);
}
.client-logo-list{
    margin: 3em 0;
    padding: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.client-logo{
    width: 74px;
}
.audiophile-logo{
    width: 50px;
    margin-top: 5px;
}

.btn{
    text-decoration: none;
    background-color: var(--clr-neutral-700);
    color: var(--clr-neutral-100);
    padding: 0.8em 1.5em;
    border-radius: 14px;
    font-size: 1rem;
    font-weight: 500;
    margin: 2em 0;
}


/* The darkened overlay/background */
.grey-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--clr-neutral-700);
    opacity: 30%;
    z-index: 5;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}


/* Navigation */
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 1.5em;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    transition: 0.4s ease;
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--clr-neutral-400);
    font-size: 1.1rem;
}

.nav-link:hover{
    color: var(--clr-primary-400);
}
.nav-link:active{
    color: var(--clr-primary-400);
}




.login-btn{
    color: var(--clr-neutral-400);
    align-self: center;
    margin: 25px;
    font-size: 1rem;
}
.register-btn{
    color: var(--clr-neutral-400);
    align-self: center;
    font-size: 1rem;
    border: 1.5px solid var(--clr-neutral-400);
    padding: 0.8em 1.5em;
    width: 70%;
    text-align: center;
    border-radius: 15px;
}

/* Hamburger Menu */
.hamburger{
    cursor: pointer;
    z-index: 99;
}
.bar{
    display: block;
    width: 40px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--clr-neutral-700);
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}

.hamburger.active .bar:nth-child(1){
    transform: translateY(9px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

/* Mobile Navigation Menu */
.nav-menu{
    position: fixed;
    z-index: 98;
    left: 100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: var(--clr-neutral-100);
    width: 70%;
    text-align: left;
    transition: 0.3s;
    height: 110%;
    margin-top: 0px;
    padding: 80px 0;
}

.nav-item{
    margin: 12px 12px 12px 20px;
    font-size: 1.5rem;
}

.nav-menu.active{
    left: 33%;
}

.nav-item:nth-child(1){
    /* margin-top: -100px; */
}

.nav-dropdown-list{
    padding: 1em 0 0em 1em;
}

.nav-dropdown-list-li{
    color: var(--clr-neutral-400);
    font-size: 1rem;
    margin-bottom: 1em;
    gap: 1em;
}
.nav-dropdown-list-li-with-icon{
    color: var(--clr-neutral-400);
    font-size: 1rem;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    gap: 1em;
}

.dropdown-list-icon{
    max-width: 30px;
    align-self: center;
    justify-self: center;
}

#features-dropdown-items{
    display: block;
}

/* Helper class to make opaque */
.opaque{
    opacity: 0%;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

/* Helper class to hide */
.hidden{
    display: none !important
}


.desktop-nav-menu{
    display: none;
}

#hero-img-mobile{
    display: block;
}
#hero-img-desktop{
    display: none;
}

/* Media queries for desktop view */
@media(min-width: 1024px){
    a:hover{
        opacity: 80%;
    }
    /* Navigation */
    .hamburger{
        display: none;
    }
    .nav-menu{
        display: none;
    }
    .desktop-nav-menu{
        display: flex;
        justify-content: flex-start;
        gap: 2.5em;
        color: var(--clr-neutral-400);
        font-size: 0.8rem;
        width: 100%;
    }
    .desktop-nav-item:nth-child(4){
        flex-basis: 100%;
        /* width: 70%; */
        /* margin-right: 20%; */
    }

    .desktop-nav-link{
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .login-btn{
        justify-self: flex-end;
        font-size: 0.8rem;
    }
    .register-btn{
        justify-self: flex-end;
        font-size: 0.8rem;
        border-radius: 10px;
    }
    .dropdown-arrow{
        
    }
    .desktop-nav-link{
        transition: 0.4s ease;
    }
    .desktop-nav-link:hover{
        color: var(--clr-primary-400);
    }
    .desktop-nav-link:active{
        color: var(--clr-primary-400);
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1280px;
        margin: auto;
    }
    main{
        display: flex;
        gap: 100px;
        align-items: center;
        min-height:fit-content;
        text-align: left;
        max-width: 1280px;


    }
    #hero-img-mobile{
        display: none;
    }
    #hero-img-desktop{
        display: block;
        max-width: 500px;
    }
    .hero-img-container{
        order: 2;
        padding-right: 5em;
    }
    .hero-content-container{
        padding: 5em;
        padding-top: 1em;
    }
    .hero-content__heading{
        font-size: 4.3rem;
        margin-bottom: 0.5em;
    }
    .hero-content__content{
        text-align: left;
    }
    #learn-more-btn{
        color: var(--clr-neutral-100);
        background-color: var(--clr-neutral-700);
        align-self: flex-start;
        justify-self: flex-start;
        font-size: 1rem;
        border: 1.5px solid var(--clr-neutral-700);
        width: 70%;
        border-radius: 10px;
    }
    #learn-more-btn:hover{
        background-color: inherit;
        color: var(--clr-neutral-400);
    }

    #desktop-features-dropdown-items, #desktop-company-dropdown-items{
        position: absolute;
        background-color: white;
        box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.27);
        padding: 1.5em 2em;
        margin-top: 1em;
        left: unset;
        border-radius: 8px;
    }
    #desktop-company-dropdown-items{
        left: unset;
    }
    #desktop-features-dropdown-items a, #desktop-company-dropdown-items a{
        font-size: 0.8rem;
    }

}