@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root{
    --clr-primary-600: hsl(256, 26%, 20%);
    --clr-primary-300: hsl(216, 30%, 68%);
    --clr-neutral-700: hsl(270, 9%, 17%);
    --clr-neutral-400: hsl(273, 4%, 51%);
    --clr-neutral-100: hsl(0, 0%, 98%);
    --ff-headings: 'DM Serif Display', serif;
    --ff-body: 'Karla', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: var(--ff-body);
}

main{
    margin-bottom: 120px;
}

h1,h2,h3,h4,h5,h6{
    margin: 20px 0;
    line-height: 1em;
}

h1, h2, h3, h4, h5, h6{
    font-size: 43px;
    font-family: var(--ff-headings);
    font-weight: 400;
}
h5{
    font-size: 38px;
}
h6{
    font-size: 28px;
    color: var(--clr-neutral-700);
}

p{
    line-height: 1.75em;
    margin: 25px 0;
}


.position-fixed{
    position: fixed;
}

.max-width{
    max-width: 1500px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.logo{
    width: 120px;
    height: fit-content;
}


.main-nav{
    position: fixed;
    left: 100%;
    background-color: var(--clr-primary-600);
    height: 100vh;
    padding-top: 50px;
    width: 100vw;
    z-index: 99;
    transition: all 200ms;
    background-image: url('./images/bg-pattern-mobile-nav.svg');
    background-repeat: no-repeat;
    background-position: 100% 75%;
}
.active{
    left: 0% ;
    transition: all 200ms;
}

.hidden{
    display: none;
}
.nav-list{
    list-style: none;
    margin: auto;
    text-align: center;
}
.nav-link{
    text-decoration: none;
    color: var(--clr-neutral-100);
    text-transform: uppercase;
    font-family: var(--ff-body);
    letter-spacing: 2px;
    font-size: 18px;
}
.nav-list-item{
    margin-top: 25px;
}
.nav-link.btn{
    color: var(--clr-neutral-100);
    padding: 0.8em 5em;
    font-size: 16px;
    margin-top: 0;
}



.hamburger{
    cursor: pointer;
}


.hero-img-mobile{
    width: 100%;
    margin-bottom: -6px;
}
.hero-img-desktop{
    display: none;
}

.section-dark, .section-light{
    background-color: var(--clr-primary-600);
    color: var(--clr-neutral-100);
    margin: 0;
    padding: 80px 30px;
    margin: auto;
    text-align: center;
    background-image: url('./images/bg-pattern-intro-left-mobile.svg');
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
}

.section-light{
    background-color: var(--clr-neutral-100);
    background: none;
    color: var(--clr-neutral-700);
}

.section-light::before{
    content: "";
    display: block;
    background-color: var(--clr-primary-600);
    margin: 50px auto;
    width: 150px;
    height: 1.5px;
    opacity: 30%;
}

.section-light p{
    color: var(--clr-neutral-400);
}

.section-dark p{
    opacity: 85%;
}

.section-box{
    margin: 30px;
    padding: 40px 20px;
    background-image: url('./images/bg-pattern-how-we-work-mobile.svg');
    background-position: top right;

}


.infographic-img{
    margin: 50px auto 25px auto;
}


#bg-pattern-intro-right-mobile{
    position: absolute;
    bottom:-180px;
    right: 0;
}

.btn{
    border: 2px solid var(--clr-neutral-100);
    display: inline-block;
    padding: 1em 2em;
    margin: 20px;
    color: inherit;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 12px;
}

.footer{
    background-color: var(--clr-neutral-100);
    background-image: url('./images/bg-pattern-footer-mobile.svg');
    background-repeat: no-repeat;
}
.footer::before{
    display: none;
}

.social-links{
    display: flex;
    margin: 30px;
    justify-content: center;
    gap: 20px;
}

.footer-nav::before{
    content: "";
    display: block;
    background-color: var(--clr-primary-300);
    margin: 50px auto;
    width: 100%;
    height: 1.5px;
    opacity: 30%;
}

.footer-nav-heading{
    font-family: var(--ff-body);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: var(--clr-neutral-400);
    margin-bottom: 30px;
}

.footer-nav-list{
    list-style: none;
    margin-bottom: 50px;
}
.footer-nav-list li{
    margin-top: 10px;
}
.footer-nav-list a{
    text-decoration: none;
    color: var(--clr-primary-600);
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.1em;
}

@media screen and (min-width: 650px){
    body{
        position: relative;
    }
    /* NAV */
   .hamburger{
        display: none;
   }
   .header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: auto;

   }
   main{
    margin: auto;

   }

   .main-nav{
        position: relative;
        left: 0%;
        background-color: inherit;
        height: auto;
        padding-top: 0;
        width: auto;
        z-index: 99;
        transition: all 200ms;
        background-image: none;
    }

    .nav-list{
        list-style: none;
        margin: auto;
        text-align: center;
        display: flex;
        align-items: center;
        height: 100%;   
        justify-self: flex-end;
        width: 100%;
        justify-content: flex-end;
        gap: 20px;
    }
    .nav-link{
        text-decoration: none;
        color: var(--clr-neutral-700);
        text-transform: uppercase;
        font-family: var(--ff-body);
        letter-spacing: 2px;
        font-size: 14px;
    }
    .nav-list-item{
        margin-top: 0;
    }
    .nav-link.btn{
        color: var(--clr-neutral-700);
        padding: 0.35em 1.2em;
        font-size: 16px;
        margin-top: 0;
        border: 2px solid var(--clr-neutral-700);
        display:inline;
        align-self: center;
    }
    
    /* MAIN */
    .hero-img-mobile{
        display: none;
    }
    .section-hero-img{
        display: relative;
    }
    .hero-img-desktop{
        display: block;
        z-index: 99;
        height: 500px;
        left: 100%;
        position: absolute;
        transition: all 400ms;
        top: 150px;

    }

    .section-hero{
        display: flex;
    }

    .section-dark, .section-light{
        background-color: var(--clr-primary-600);
        color: var(--clr-neutral-100);
        margin: 0;
        padding: 80px 30px;
        margin: auto;
        text-align: left;
        background-image: url('./images/bg-pattern-intro-left-mobile.svg');
        background-repeat: no-repeat;
        background-position: top left;
        position: relative;
        padding-right: 55%;
    }
    .section-light{
        background-color: var(--clr-neutral-100);
        background: none;
        color: var(--clr-neutral-700);
    }
    .btn{
        margin: 0 20px 0 0 ;
    }
    .section-light::before{
        
        margin: 150px 0 50px 0;
        height: 1.5px;
    }
    .infographic-img{
        margin: 50px auto 25px auto;
    }
    .infographic-container{
        display: flex;
        justify-content: space-evenly;
        /* width: auto; */
        width: 100%;
        gap: 50px;
    }    
    .infographic{
        
    }

}

@media screen and (min-width: 900px) {
    .hero-img-desktop{
        left: 50%;
        top: 150px;
        transition: all 400ms;
    }
}

@media screen and (min-width: 1500px){
    .btn{
        margin: 0;
    }
    .logo{
        margin: 0;
    }
    .flex-container{
        margin: 0;
        padding-left: 0;
    }
}