

*{
    box-sizing: border-box;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: hsl(30, 38%, 92%);
    display: grid;
    place-content: center;
    height: 100vh;
}

h1{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 30px;
    color: hsl(212, 21%, 14%);
}

p{
    font-size: 14px;
    color: hsl(228, 12%, 48%);

}

.span-category{
    color: hsl(228, 12%, 48%);
    font-size: 11px;
    letter-spacing: 4px;
}

.span-price{
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    font-size: 30px;
    margin: 0 20px 0 0;
}

.span-price-discounted{
    color:hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-size: 11px;
}

.price-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0px;
}

section{
    width: 600px;
    background-color: hsl(0, 0%, 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border-radius: 13px;
}

section div{
    padding: 30px;
    width: 300px;
    
}
.section__img{
    border: none;
    background-image: url("./images/image-product-desktop.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: 13px 0px 0px 13px;
}

button{
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    height: 50px;
    border-radius: 9px;
    border: none;
    color:hsl(0, 0%, 100%);
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;
}
button:hover{
    background-color: hsl(158, 36%, 31%);

}
button:active{
    background-color: hsl(158, 59%, 17%);
}