@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{
    box-sizing: border-box;
}
:root{
    --clr-error: hsl(0, 100%, 66%);
    --clr-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-300: hsl(270, 3%, 87%);
    --clr-neutral-500: hsl(279, 6%, 55%);
    --clr-neutral-700: hsl(278, 68%, 11%);

}
body{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}

