@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root{
    --clr-primary-blue: hsl(246, 80%, 60%);
    --clr-primary-orange: hsl(15, 100%, 70%);
    --clr-primary-softblue: hsl(195, 74%, 62%);
    --clr-primary-red: hsl(348, 100%, 68%);
    --clr-primary-violet: hsl(264, 64%, 52%);
    --clr-primary-green: hsl(145, 58%, 55%);
    --clr-primary-yellow: hsl(43, 84%, 65%);
    --clr-neutral-700: hsl(226, 43%, 10%);
    --clr-neutral-600: hsl(235, 46%, 20%);
    --clr-neutral-300: hsl(235, 45%, 61%);
    --clr-neutral-200: hsl(236, 100%, 87%);
}

body{
    font-family: 'Rubik', sans-serif;
    background-color: var(--clr-neutral-700);
    color: white;
    font-weight: 200;
    padding: 20px;
}
/* Titles are 18px */

.hidden{
    display: none;
}


button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.user-card{
    /* width: 240px; */
    /* margin: 25px; */
    border-radius: 10px;
    background-color: var(--clr-neutral-600);
}

.user-info{
    background-color: var(--clr-primary-blue);
    border-radius: 10px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}
.user-info-text{
    margin-left: 10px;
}

.frequency-selector{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.frequency-selector-btn {
    margin: 12px 0;
    font-weight: 300;
    font-size: 16px;
    color: var(--clr-neutral-300);
    cursor: pointer;
}
.selected{
    color: white;
}

.block{
    display: block;
}

.user-img{
    width: 75px;
    border: 2.5px solid white;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1{
    font-size: 20px;
    font-weight: 300;
    margin: 5px 0;
}

h2{
    font-size: 15px;
    font-weight: 300;
    color: var(--clr-neutral-200);
    margin: 5px 0;
}

.card-container{
    padding-top: 40px;
    border-radius: 11px;
    /* width: 240px; */
    margin: 30px 0;
    background-repeat: no-repeat;
    background-position: top right;
}

.work-card{
    background-color: var(--clr-primary-orange);
    background-image: url('./images/icon-work.svg');
}
.play-card{
    background-color: var(--clr-primary-softblue);
    background-image: url('./images/icon-play.svg');
}
.study-card{
    background-color: var(--clr-primary-red);
    background-image: url('./images/icon-study.svg');
}
.exercise-card{
    background-color: var(--clr-primary-green);
    background-image: url('./images/icon-exercise.svg');
}
.social-card{
    background-color: var(--clr-primary-violet);
    background-image: url('./images/icon-social.svg');
}
.self-care-card{
    background-color: var(--clr-primary-yellow);
    background-image: url('./images/icon-self-care.svg');
}

.card{
    background-color: var(--clr-neutral-600);
    border-radius: 10px;
    padding: 20px;
}

h6{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.hours{
    font-size: 50px;
    margin-bottom: 10px;
}

.previous-hours{
    font-size: 14px;
    color: var(--clr-neutral-200);
}